<div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="testimonial-box">
                <p><strong>Thiago</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Gabinete Nvidia cooler master CM 690 Semi novo</em></p>
                <p>"Cara é foda e muito prestativo, boa comunicação, mesmo comprando de outro estado recebi o produto perfeitamente e com mais algumas coisas,
            </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Eduardo</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Kit Xeon X99, E5 2640v3, 16gb 2133mhz, novo sem uso</em></p>
                <p>"Ótimo vendedor, produto exatamente conforme o anúncio. Recomendo."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>MARCOs</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Gabinete Gamer Aigo Darkflash C285, Lateral de vidro, Preto, C285-BK</em></p>
                <p>"Ótimo vendedor, produto exatamente conforme o anúncio. Recomendo."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Maria</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Pc Gamer Ryzen 5 3600, A320m, 16gb 3200mhz, RX6600 8gb, SSD240, Fonte 500W</em></p>
                <p>"Comentário: Excelente compra, vendedor confiável e produto em perfeito estado."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Sebastião</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Smart TV 24 Polegadas HD Wi-fi Integrado Multilaser TL040 Semi Nova</em></p>
                <p>"Comentário: Foi uma ótima compra, já testei o produto e está funcionando normalmente. Recomendo o vendedor."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>SILVIO</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Gabinete Gamer Riotoro, CR488TG, Mid Tower, Vidro Temperado, Black, Sem Fonte, Com 1 Fan</em></p>
                <p>"Comentário: Produto de qualidade e entrega rápida. Recomendo!"</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>JOSE</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Mesa Digitalizadora Huion 4000LPI Pequena Inspiroy - 420 Preto</em></p>
                <p>"Comentário: Excelente vendedor, muito atencioso. Produto de alta qualidade."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>MARLON</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Placa de Vídeo Sapphire Nitro+ AMD Radeon RX 6600 XT, OC, 8GB, GDDR6, FSR, Ray Tracing</em></p>
                <p>"Comentário: Veio tudo certo, bem embalado e funcionando, testes e temperaturas estão ok. Recomendo o vendedor."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>ALEXIS</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Placa Mãe Gigabyte B450M ds3h AM4</em></p>
                <p>"Comentário: Ótimo vendedor, Recomendo."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>EDRIK</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Peça</em></p>
                <p>"Comentário: Ótimo vendedor, recebi meu produto antes do previsto, e com toda certeza comprarei novamente. Muito satisfeito."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Pedro</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Kit Gamer, Monitor 75hz, Mouse HyperX, Teclado Mecânico, Headset Havic e Mouse Pad</em></p>
                <p>"Comentário: Cara show de mais, trouxe o PC montadinho no esquema, super atencioso e honesto, recomendo demais."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Pedro</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Pc gamer i5 9400f e GTX 1660 super</em></p>
                <p>"Comentário: Vendedor atencioso, entregou tudo certinho e no prazo. Pode confiar!"</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Afranize</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Mesa Digitalizadora Huion 4000LPI Pequena Inspiroy - 420 Preto</em></p>
                <p>"Comentário: Tudo certo, vendedor honesto e confiável. Produto praticamente novo! Valeu muito a pena."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Ronaldo</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Placa De Video Pcyes Gt740 4gb Ddr5 Pax740d54gb Dvi/hdmi/vga</em></p>
                <p>"Comentário: Conforme o anúncio."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Vinicius</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Pc gamer ryzen 7 e 3070</em></p>
                <p>"Comentário: Produto excelente, vendedor muito atencioso."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Guilherme</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>RTX 3070 QLEADTEK 8Gb com Caixa, semi nova</em></p>
                <p>"Comentário: Produto em ótimo estado, muito satisfeito com a compra."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Henrique</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Mesa Digitalizadora One by Wacom CTL472 Pequena</em></p>
                <p>"Comentário: Vendedor excelente, produto de alta qualidade."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Murillo</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Rtx 3070</em></p>
                <p>"Comentário: Recomendo o vendedor, produto de alta qualidade."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>DAVID</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>PC Gamer Ryzen 5 3600, B450M, 16GB, Rx 6700 xt, SSD 240gb</em></p>
                <p>"Comentário: Ótima compra, produto excelente."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>RAPHAEL</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Memoria Ram Adata Xpg Spectrix D50 Rgb 16gb 1x16 Ddr4 3200mhz</em></p>
                <p>"Comentário: Produto veio lacrado conforme o anuncio do vendedor."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>JOSE</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Gabinete Gamer Neologic Phantom NL-3401 C/ 3 Coolers RGB</em></p>
                <p>"Comentário: Excelente vendedor, em momento algum deixou dúvidas sobre o produto e muito menos quanto a sua honestidade!! Podem negociar sem medo."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>VICTOR</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Mesa Digitalizadora One by Wacom CTL472 Pequena Nova, não foi usada</em></p>
                <p>"Comentário: Produto conforme o anúncio. Ótima compra."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>DERIK</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Ram</em></p>
                <p>"Comentário: Excelente, vendedor super atencioso e rápido!!! nota 10!"</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>Kaue</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>B450m Steel Legend</em></p>
                <p>"Comentário: Ótimo vendedor"</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>LUIS</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>Placa de Vídeo Gigabyte Nvidia Geforce RTX 2060, 6GB Gddr6, GV-N2060D6-6GD</em></p>
                <p>"Comentário: Excelente vendedor, confiável."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>SERGIO</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>CELULAR QUEBRADO Pocophone F3 8gb de Ram, 256gb, 5g</em></p>
                <p>"Comentário: Vendedor super atencioso e comprometido. Recomendo a todos."</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="testimonial-box">
                <p><strong>LUCAS</strong></p>
                <div class="rating">★★★★★</div>
                <p><em>PC Gamer Completo, Ryzen 5 1600, A320, 16gb de Ram, GTX 1650, SSD 128 e Periféricos</em></p>
                <p>"Comentário: Produto de ótima qualidade, vendedor atencioso."</p>
            </div>
        </div>
        <div

